.header {
    height: 75px;
    background: red;
}

.title {
    color: black;
    font-family: 'Interstate';
    font-weight: 100;
}

.nb-item {
    margin: 0 10px;
}

.nb-item:hover {
    color: #303030;
}