.header {

    background: red;
}

.title {
    color: black;
    font-family: 'Interstate';
    font-weight: 100;
}

.nb-item {
    margin: 0 10px;
}

.nb-item:hover, a:hover {
    color: #303030;
}

a {
    color: inherit;
    text-decoration: none;
}